# Supabase Credentials
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# PartyKit Credentials
NEXT_PUBLIC_PARTYKIT_HOST=
PARTYKIT_SECRET=

# App URL for invite generation
NEXT_PUBLIC_APP_URL=
